.subtitle_gea{
    font-weight: bold;
    color:white;
    line-height: 0.1;
    position: relative;
    bottom: 20px;
}
.header a{
  border-bottom: 0;
}
header.major .spotlight .image{
  margin: 0;
}
#principios .icon.major{
  padding: 0;
  margin: 0;
}
.button.primary i.icon{
  border: 0;
}

.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid img{
  max-width: 100%;
}
#ultraLogros.features li{
  margin-top: 0;
}

@media (orientation: portrait) {
  #principios span.image.main{
    display: none;
  }


}
